

body{
    margin: 0;
    padding: 0;
    height: 1400px;
    width: 100%;
    text-align:center;
}



@media (max-width: 700px){
    h1{
        font-size: 30px !important;
        height: 30px !important;
    }

    h4{
        font-size: 20px;
    }

    .content .content-overlay{
        margin-left: 10px;
    }

    .teams{
        margin-left: 50px !important;
        margin-right: 55px !important;
    }
}


.teams{
    margin-left: 80px;
    margin-right: 60px;
    height: auto;
    padding-top: 5.5rem;
    opacity: 1.0;
    border-radius: 1rem;
    margin-bottom: 50px;
    display: none;
}

.show{
    display: block;
} 

.Team{
    display: block;
}
.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    display: block;
}

@media (min-width: 768px){
    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
}

.font-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.pb-10 {
    padding-bottom: 2.5rem;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: #fff;
    text-align: center;
    height: 0.2em;
}

.hr-text:before {
    content: "";
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    margin-top: 30px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #fff;
    padding: 0 .5em;
    line-height: 1.5em;
    background-color: #151819;
}
@media screen and (max-width: 800px) {
    .main-head{
        justify-content: center;
        display: flex;
      }
}
@media (min-width: 768px){
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }

}

.text-gray-300 {
    --tw-text-opacity: 1;
    color: rgba(209,213,219,var(--tw-text-opacity));
}
.text-center {
    text-align: center;
}
.pb-20 {
    padding-bottom: 8rem;
}

.rounded-full {
    border-radius: 9999px;
}

.relative {
    position: relative;
}

.p-3 {
    padding: .75rem;
}
.m-1 {
    margin: .25rem;
}
.place-self-center {
    place-self: center;
}

.row{
    display: inline-flex;
}

.card-img-top{
  
    width: 11rem;
    display: flex;
    position: relative;
}
.card-img-top:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    opacity: 0.8;
}

.card{
    align-items:center;
    background-color:#1F7A8C;
    border: 0px;
    width: inherit;
    height: inherit;
}

@media (min-width: 1360px){
    .lg\:grid-cols-5 {
        grid-template-columns: repeat(5,minmax(0,1fr)) !important;
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: -80px;
    }
    .lg\:gap-2 {
        gap: .5rem;
    }
}

@media (min-width: 900px){
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3,minmax(0,1fr));
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: -80px;
    }
}

.items-center {
    align-items: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 100px;
    margin-left: -40px;
    margin-right: -40px;
}

.z-50 {
    z-index: 50;
}

.left-20 {
    left: 5rem;
}
.top-20 {
    top: 5rem;
}
.absolute {
    position: absolute;
}
.-mt-28 {
    margin-top: -7rem;
}
.ml-8 {
    margin-left: 2rem;
}
.max-w-screen-xl {
    max-width: 1280px;
}

.h-28 {
    height: 7rem;
}
.content-center {
    align-content: center;
}
.block {
    display: block;
}
.w-4\/5 {
    width: 80%;
}
.text-black {
    --tw-text-opacity: 1;
    color: rgba(0,0,0,var(--tw-text-opacity));
}
.-top-20 {
    top: -5rem;
}
.relative {
    position: relative;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.mt-1 {
    margin-top: -.25rem !important;
}
.mx-4 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.text-xs {
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    margin-top: 10px;
}
.block {
    display: block;
}

.name{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}

  .content {
    position: relative;
    overflow: hidden;
  }
  
  .content:hover{
    transform: scale(1.1);
  }
  .content-image
  {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .content .content-overlay {
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 999;
    border-radius: 9999px;
  }
  
  .content:hover .content-overlay {
    opacity: 1;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }

  .iconl{
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.content-details .fa-linkedin:hover {
    color: #000;
    opacity: 1;
  }

  
.fadeIn-bottom {
    top: 90%;
  }

  /* DROPDOWN CSS */

  .mobileFilter{
    text-align: center !important;
    margin: 0 auto 4% auto;
}

.active-tag{
    font-weight: bold;
    color: #eae7e5;
    background-color: #bccacf; 
}

.tags-button{
    height: 100%;
    font-size: 20px;
    color: #dae1e1;
    background-color: #6d91cd;
    border: 2px solid #050606;
    border-radius: 25px;
}

.tags-button:hover{
    background-color: #5880c7;
    color: #f4f4f4;
}

.dropdown-item{
    cursor: pointer;
    padding: 7%;
    color: #1215a9;
    display:block   
}

.my-menu{
    padding-left: 0%;
    margin-left: 0%;
    padding-bottom: 10px;
}    

.dropdown-menu {         
    max-height: 350px;
    width: 100% !important;
    font-weight: 400 !important;
    overflow-y: scroll;
    /* background-color: #27a644;
    color: #a35629; */
  }
  .dropdown-menu {
    scrollbar-width: normal;
    scrollbar-color: #F6BD60 #F6BD60;
  }

  .dropdown-menu::-webkit-scrollbar {
    margin: 0;
    width: 10px;
    opacity: 0.5;
  }

  .dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #87b1f0;
    opacity: 1;
    border-radius: 50px;
  }

  .dropdown-menu::-webkit-scrollbar-thumb:hover {
    background-color: #f49997;
  }

  .dropdown-menu::-webkit-scrollbar-track {
    background-color: #F6BD60;
  }

  .dropdown-menu::-webkit-scrollbar-track:hover {
    background-color: #f49997;
  }
  
.dropdown-item:hover{
    background-color: rgb(231, 224, 224);
    color: #f4ecec !important;
}
.dropdown-menu.show{
    position: absolute !important;
    will-change: transform !important;
    top: auto !important;
    left: 0px !important;
    transform: translate3d(0px, 0px, 0px) !important;
}

.dropdown{
    display: inline;
}

/* DROPDOWN CSS END */
